.signUp-page {
    background: rgba(144, 172, 244, 1);
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    z-index: 0;
    overflow: hidden;
}

.signUp-container {
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 10vh 20vw 5vh 20vw;
    margin: 30vh 0 20vh 30vw;
    width: 40vw;
    height: 75vh;
}

.signUp-title {
    font-size: 5vh;
    font-weight: bold;
    width: 10vw;
}

.signUp-form {
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
}

.signUp-form input {
    padding: 2vh 5vw;
    margin-top: 2vh;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 5vh;
    margin-bottom: 1vh;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.signUp-form input::placeholder {
    text-align: center;
    line-height: normal;
}

.signUp-form input:focus::placeholder {
    visibility: hidden;
}

.signUp-confirm-btn,
.had-acc-btn {
    padding: 1.5vh;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    background-color: rgba(168, 220, 148, 1);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signUp-form button:hover {
    background-color: #b6dfe3;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.first-part {
    margin-bottom: 6vh;
}

.had-acc-btn {
    background-color: white;
    color: rgb(125, 115, 115);
    font-weight: bold;
}

.cloud-2 {
    position: absolute;
    z-index: -1;
    margin-top: 30vh;
    width: 50vw;
    height: 85vh;
    margin-left: 24.8vw;
    background: white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

.cloud-2::after,
.cloud-2::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud-2::after {
    width: 30vw;
    height: 50vh;
    bottom: 50vh;
    right: 20vw;
    border-radius: 50%;
}

.cloud-2::before {
    width: 20vw;
    height: 45vh;
    left: 29.96vw;
    bottom: 50vh;
    border-radius: 50%;
}

.cloud-2-second {
    position: absolute;
    background-color: white;
    z-index: -1;
    width: 20vw;
    height: 40vh;
    bottom: 73vh;
    right: 35vw;
    border-radius: 50%;
}